.right-side-menu {
  position: fixed; 
  top: 0; 
  right: 0; 
  width: 23%; 
  height: 100%; 
  background-color: black; 
  z-index: 1000; 
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: #426583 transparent; 
  transition: transform 0.3s ease;
    
} 

.menu-content {
  width: 80%; 
  margin: 20px auto; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
  
.menu-content h3 {
  margin-top: 0; 
}
  
.menu-content .close-button {
  position: absolute; 
  top: 10px;
  right: 10px; 
  background: none; 
  border: none; 
  cursor: pointer; 
}
  
.menu-content div {
  margin-top: 20px; 
}
  
.menu-content h3:last-of-type {
  margin-top: 20px; 
}