.cart-products {
    display: flex; 
    align-items: center; 
    padding: 5px; 
  }
  
  .cart-products img {
    width: 80px; 
    height: 100px; 
    margin-right: 20px; 
  }
  

  .cart-products p {
    margin: 5px 0; 
  }

  .cart-products button {
    
    height: 35px;
    width: 35px;
    background-color: #a82c23; 
    color: #fff; 
    border: none; 
    padding: 1px 5px; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .cart-products button:hover {
    background-color: #d32f2f; 
  }
  
  